.asset-card{
    width:300px;
    margin: 50px;
    border-radius: 10px;
}

.asset-image{
    width: 100px;
    height: 100px;
}

.asset-image-container{
    width: 300px;
}

.delete-asset-icon{
    color:red;
}
